* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: monospace;
    color: black;
}
header a {
    text-decoration: none;
    color: #fff;
    padding: 2rem;
}
header {
    background-color: #92140c;
    padding: 1rem;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.cuerpo  {
    background-color: #1e1e24;
    display: flex;
    padding: 1rem;
    height: 80vh;
}
.barra-lateral {
    height: 100%;
    flex-direction: column;
    display: inherit;
    justify-content: space-between;
    align-items: center;
}
.contenedor {
    height: 10rem;
    width: 80%;
    background-color: #fff8f0;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}
.contenido-princ  {
    padding: 1rem;
    background-color: #fff8f0;
    border-radius: 1rem;
}

footer {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #92140c;
    color: #fff;
}
footer a {
    padding: 0;
    text-decoration: none;
    color: #fff;
}
header a:hover {
    background-color: #1e1e24;
}
