* {
    box-sizing: border-box;
}
body {
    font-family: monospace;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}
header {
    position: relative;
    background-color: #ed6a5a;
}
header p, header nav {
    display: inline-block;
    font-size: 20px;
}
header p {
    position: relative;
    left: 0;
}
header nav {
    position: absolute;
    height: 100%;
    right: 0;
    top: 15px;
}
section {
    width: 25vw;
    height: 85vh;
    background-color: aqua;
    display: inline-block;
}
.padre {
    position: relative;
    top: 30px;
    width: 100%;
    height: 100%;
}
.contenedor {
    height: 20%;
    width: 80%;
    background-color: #f4f1bb;
    border-radius: 15px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 5px;
    /* overflow: scroll; */
}
.cuerpo {
    position: relative;
}
.contenido-princ {
    display: inline-block;
    background-color: #9bc1bc;
    position: absolute;
    width: 74.7%;
    height: 99.5%;
    padding: 10px;
}
.contenido-princ p {
    background-color: #f4f1bb;
    border-radius: 10px;
    padding: 10px;
    /* overflow: scroll; */
}